    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        /* background-color: #272822; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    h2 {
        text-align: center;
        font-size: 2em;
        padding: 0.5em;
    }

    /* Header */

    .collapse {
        justify-content: flex-end;
    }

    .navbar {
        position: sticky;
        width: 100vw;
        padding: 0.5em;
        color: white;
        top: 0;
        background-color: #272822 !important;
        z-index: 2;
        padding-left: 2em;
        padding-right: 2em;
    }

    .navbar-nav {
        padding: 0.5em;
        margin-top: 1em;
    }

    .navbar-toggler-icon {
        background-image: url('../img/menu.png') !important;
    }

    .nav-link {
        all: unset;
        color: white !important;
    }

    .nav-item>.nav-link:hover {
        cursor: pointer;
    }

    .nav-item:nth-child(1)>.nav-link:hover {
        color: #f92672 !important;
    }

    .nav-item:nth-child(2)>.nav-link:hover {
        color: #66d9ef !important;
    }

    .nav-item:nth-child(3)>.nav-link:hover {
        color: #a6e22e !important;
    }

    .nav-item:nth-child(4)>.nav-link:hover {
        color: #FD971F !important;
   }

    nav>a:first-child img {
        height: 40px;
    }

    nav > a:first-child > img:hover{
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px #f92672;       
    }

    /* ==== First Section ==== */

    .firstSection {
        height: 100vh;
        width: 100vw;
        background-color: #272822;
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    /* Colores monokai - Gris: #272822 Verde: #a6e22e Rosa: #f92672 Azul: #66d9ef */

    .firstSection>*:not(:first-child) {
        display: inline;
        margin-left: 5vw;
    }

    .firstSection>p:first-child {
        font-size: 4vw;
    }

    .firstSection>p:nth-child(2) {
        color: #f92672;
        font-size: 6vw;
    }

    .firstSection>h1 {
        color: #66d9ef;
        font-size: 6vw;
    }

    .firstSection>p:last-child {
        font-size: 4vw;
        margin-left: 0;
    }

    .firstSection>p:nth-child(4) {
        display: inline;
        color: #a6e22e;
        font-size: 3.5vw;
        background-color: #272822;
        border-right: 1px solid white;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 2.5s steps(22, end) alternate infinite, blink-caret .75s step-end;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 78%;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: white;
        }
    }

    /* ==== ABOUT ME ==== */

    .aboutMe {
        height: 100vh;
        width: 100vw;
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: justify;
    }

    .aboutMe>div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2em;
        padding-right: 2em;
    }

    @media(max-width: 535px) {
        .aboutMe {
            flex-direction: column;
            justify-content: stretch;
        }

        .aboutMe>div {
            width: 100%;
        }
    }

    .aboutMePicture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
    }

    .aboutMePicture>img {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
    }

    .aboutMeContent {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutMeContent>p {
        margin-top: 0.5em;
    }

    .aboutMeContent>p:last-child {
        align-self: center;
        font-style: italic;

        color: grey;
    }

    /* === Technologies === */

    .technologies {
        height: 100vh;
        width: 100vw;
        background-color: #272822;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .technologies>div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 600px;
        text-align: center;
    }

    .technologies>div>* {
        margin: 1em;
    }

    .technologies > div > span{
        display: inline-flex;
        align-items: center;
    }

    .technologies > div > span > img{
        width: 2em;
        margin-right: 0.5em;
    }

    .technologies>img {
        width: 50vw;
        margin-top: 3em;
        max-width: 250px;
        max-height: 200px;
    }

    /* === PROJECTS === */

    .projectsList {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media(max-width: 600px) {
        .projectsList {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .project {
        position: relative;
        /* border: 3px solid #eeeeee; */
        box-shadow: 0px 0px 5px 0px gray;
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
    }

    .project a {
        color: white !important;
    }

    .project>img {
        width: 300px;
        height: 180px;
        max-width: 50vw;
        max-height: 30vw;
    }

    .project>a {
        text-decoration: none;
        padding: 1em;
        z-index: 2
    }

    .titleShow {
        display: block !important;
        position: absolute;
        font-size: 1.5em;
        background-color: #000000a3;
        width: 100%;
        height: 100%;
        text-align: justify;
        color: white;
        cursor: pointer;

    }

    .titleHide {
        display: none;
    }

    /* === CONTACT === */

    .contact {
        width: 100vw;
        height: 100vh;
        background-color: #272822;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media(max-width:800px) {
        .contact {
            flex-direction: column;
            justify-content: center;
        }
    }

    .contact>div:nth-child(2) {
        margin: 2em;
        max-width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2em;
        background-color: white;
        border-radius: 10px;
        color: gray;
        height: 220px;
    }

    .contact>div>p {
        font-size: 1.2em;
    }

    .contact a {
        all: unset;
        margin-top: 2.2em;
        padding: 11px;
        background: #272822;
        color: #66d9ef;
        border-radius: 10px;
        cursor: pointer;
    }

    .contact a:hover {
        color: #f92672;
    }

    .contact .socialLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    /* ==== FOOTER ==== */

    footer {
        /* background-color: #272822; */
        background-color: black;
        color: white;
        text-align: center;
        padding: 2em;
        height: 100vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .socialLinks {
        padding: 2em;
    }

    .socialLinks>a>i {
        color: white;
        border: 0.7px solid #66d9ef;
        border-radius: 50%;
        padding: 0.3em;
        font-size: 2em;
        margin: 0.3em;
    }

    .fa-github:hover {
        color: #272822;
        background-color: #fff;
        border: 0.7px solid #fff;
    }

    .fa-twitter:hover {
        background-color: #66d9ef;
        border: 0.7px solid #66d9ef;
    }

    .fa-linkedin-in:hover {
        background-color: rgb(0, 119, 181);
        border: 0.7px solid rgb(0, 119, 181);
    }

    .separator {
        height: 2px;
        width: 100%;
        background-color: #f92672;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .copyright>h3 {
        font-size: 1.3em;
        margin-top: 2em;
    }